# Prevent any personal data from being pushed to the repository - All .ini files should be generated locally
cfg/*.ini

# Node.js
node_modules/
static/css/output.css

# Python related files
.venv/
__pycache__/

# Logs
logs/*.log