<!DOCTYPE html>
<html data-theme="{{ cur_theme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TourniRC{% endblock %}</title>
    <!-- Daisy UI & Tailwind CSS import -->
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <!-- Socket IO -->
    <!-- At header to guarantee priority -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            console.log('Connected to server');
        });
    </script>
</head>
<body class="flex flex-col min-h-screen">
    <!-- Navbar Header -->
    <header>
        <div class="navbar bg-base-300">
            <div class="navbar-start">
                <div class="dropdown">
                  <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                        <li><a>Chat</a></li>
                        <li><a>Settings</a></li>
                    </ul>
                </div>
                <a class="btn btn-ghost text-xl">TourniRC</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a>Chat</a></li>
                    <li><a>Settings</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <div class="flex items-stretch">
                    <div class="dropdown dropdown-end z-50">
                        <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.098 19.902a3.75 3.75 0 0 0 5.304 0l6.401-6.402M6.75 21A3.75 3.75 0 0 1 3 17.25V4.125C3 3.504 3.504 3 4.125 3h5.25c.621 0 1.125.504 1.125 1.125v4.072M6.75 21a3.75 3.75 0 0 0 3.75-3.75V8.197M6.75 21h13.125c.621 0 1.125-.504 1.125-1.125v-5.25c0-.621-.504-1.125-1.125-1.125h-4.072M10.5 8.197l2.88-2.88c.438-.439 1.15-.439 1.59 0l3.712 3.713c.44.44.44 1.152 0 1.59l-2.879 2.88M6.75 17.25h.008v.008H6.75v-.008Z" />
                            </svg>                          
                            Theme
                        </div>
                        <ul
                            tabindex="0"
                            class="flex flex-nowrap shadow-2xl menu dropdown-content bg-base-100 text-base-content rounded-box w-52 p-2 gap-2 overflow-y-auto max-h-[21.5rem]">
                            {% for theme in themes %}
                                <button data-theme="{{ theme }}" class="theme-item btn btn-ghost w-full hover:bg-primary group rounded-lg flex bg-base-100 p-2 transition-all">
                                    <p class="flex-1 text-left text-base-content group-hover:text-primary-content transition-color">{{ theme }}</p>
                                    {% set colors = ['bg-primary', 'bg-secondary', 'bg-accent', 'bg-neutral'] %}
                                    <div class="grid grid-cols-4 gap-0.5 m-auto">
                                    {% for color in colors %}
                                        <div class="w-1 h-4 rounded-btn {{ color }}"></div>
                                    {% endfor %}
                                    </div>
                                </button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <main class="flex-grow bg-base-200">
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer class="footer footer-center bg-base-300 text-base-content rounded p-2" style="row-gap: 1rem">
        <div class="flex flex-row">
            <div class="mr-1">
                <a class="link link-hover flex flex-row" href="https://github.com/NyxIsBad/TourniRC">
                    <svg class="w-4 h-4 mr-1 translate-y-0.5 align-middle" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                    Github
                </a>
            </div>
            🌸
            <aside class="ml-1">
                <p>Thanks for using TourniRC by HijiriS!</p>
            </aside>
        </div>
    </footer>
    
    <!-- Toasts/Notifications -->
    <div class="toast" id="toasts">
    </div>
    <!-- JavaScript to handle theme switching and persistence -->
    <script>
        function makeNotification(content, duration, type) {
            const alert_element = document.createElement("div");
            const toasts = document.getElementById('toasts');
            // Can be info, success, warning, and error, blank for default
            alert_element.className = `alert alert-${type} flex flex-col opacity-0 transition-opacity duration-500`;
            // For the daisy UI compiler
            // alert-info alert-success alert-warning alert-error
            alert_element.innerHTML = `
                <div class="flex flex-wrap items-start overflow-x-hidden justify-between w-56">
                    <span class="self-start overflow-hidden text-ellipsis flex-1 whitespace-pre-wrap mr-2">${content}</span>
                    <button class="whitespace-nowrap self-center toast-close mr-1" aria-label="Close">
                        &times;
                    </button>
                </div>
                <progress class="progress w-56 mt-2" value="0" max="100"></progress>
            `;
            toasts.appendChild(alert_element);

            // Close button
            const close_button = alert_element.querySelector('.toast-close');
            close_button.addEventListener('click', () => {
                alert_element.classList.remove('opacity-100');
                alert_element.classList.add('opacity-0');
                setTimeout(() => {
                    alert_element.remove();
                }, 500);
            });
            
            setTimeout(() => {
                alert_element.classList.remove('opacity-0');
                alert_element.classList.add('opacity-100');
            }, 10);

            const progress_bar = alert_element.querySelector('.progress');
            const interval = 10; // ms between each update
            const increment = 100 / (duration / interval);
            let progress = 0;
            const timer = setInterval(() => {
                progress += increment;
                progress_bar.value = progress;
                if (progress >= 100) {
                    clearInterval(timer);
                }
            }, interval);

            setTimeout(() => {
                alert_element.classList.remove('opacity-100');
                alert_element.classList.add('opacity-0');
                setTimeout(() => {
                    alert_element.remove();
                }, 500);
            }, duration);
        }
        function debug_func(data) {
            socket.emit('debug', {'data': data});
        }
        document.addEventListener('DOMContentLoaded', () => {
            // Set theme from cookie
            const themeCookie = document.cookie.split('; ').find(row => row.startsWith('theme='));
            if (themeCookie) {
                const theme = themeCookie.split('=')[1];
                document.documentElement.setAttribute('data-theme', theme);
            }

            // Event listener for theme change
            const themeItems = document.querySelectorAll('.theme-item');
            themeItems.forEach(item => {
                item.addEventListener('click', (e) => {
                    e.preventDefault();
                    const theme = e.target.closest('button').getAttribute('data-theme');
                    if (!theme) {
                        console.error("Theme attribute not found on clicked element");
                        return;
                    }
                    console.log('Theme:', theme);
                    document.documentElement.setAttribute('data-theme', theme);
                    
                    socket.emit('theme', {'theme': theme});
                });
            });
            
        });
        socket.on('notif', function(data) {
            makeNotification(
                data.content,
                data.duration ? data.duration : 5000,
                data.type ? data.type : ''
            )
        });
    </script>
</body>
</html>